/*@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Nosifer);*/
h1 {
padding: 50px 0px 0px 0px;
color: white;
font-family: 'Nosifer';
font-size: 40px;
}
#canvas{
margin-left: 300px;
margin-top: 30px;
background: #ffffff;
}
#scoreboard{
margin-left: 50px;
margin-top: 0px;
background: #ffffff;
}
canvas {
  display: inline-block;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
