<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>air-hockey</title>
      <link rel="stylesheet" href="style/style.css">
</head>

<body>
  <h1 align="center">Air Hockey</h1>
  <div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <input type="button">create</button>
    </form>
    <form class="login-form">
      <input id="room" type="text" placeholder="Enter Your Friends Code"/><br>
      OR<br>
      Share This Code With Friend<br>
      <tr>
       <td id="roomId"><%= id %></td>
     </tr>
      <input type="button" id="login" value="OK"></input>
    </form>
  </div>
</div>
    <script  src="style/style_login.js"></script>
</body>
</html>
